/*購物明細*/
.cart-img {
  object-fit: cover;
  height: 130px;
  width: 150px;
}
.cart-img-sm {
  object-fit: cover;
  height: 60px;
  width: 80px;
}
.number-control {
  max-width: 100px;
}
.checkout-img {
  background-repeat: repeat-x;
  height: 260px;
  background-position: center center;
}
/*球移動*/
.dot-bounce {
  position: relative;
  .dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    position: absolute;
  }
  .dot1 {
    bottom: 0;
    animation: scale infinite 2.5s;
    left: 70px;
  }
  .dot2 {
    bottom: 0;
    animation: scale2 infinite 3.2s;
    left: 60px;
  }
  .dot3 {
    bottom: 0;
    animation: scale infinite 3s;
    left: 50px;
  }
  .dot4 {
    bottom: 0;
    transform-origin: bottom;
    animation: scale2 infinite 2.3s;
    left: 40px;
  }
  .dot5 {
    bottom: 0;
    transform-origin: bottom;
    animation: scale infinite 1.8s;
    left: 30px;
  }
  .dot6 {
    bottom: 0;
    transform-origin: bottom;
    animation: scale2 infinite 2.4s;
    left: 20px;
  }
  .dot7 {
    bottom: 0;
    transform-origin: bottom;
    animation: scale infinite 2s;
    left: 15px;
  }
  .dot8 {
    bottom: 0;
    transform-origin: bottom;
    animation: scale2 infinite 1.5s;
    left: 25px;
  }
}

@keyframes scale {
  0% {
    transform: scale(1);
    bottom: 10px;
    opacity: 0;
  }

  100% {
    transform: scale(1.5);
    bottom: 130px;
    opacity: 1;
  }
}

@keyframes scale2 {
  0% {
    transform: scale(0.8);
    bottom: 10px;
    opacity: 0;
  }

  100% {
    transform: scale(1.2);
    bottom: 100px;
    opacity: 1;
  }
}
/*結帳進度提示*/
.flow{
  counter-reset: step;
  .active{
    &::before{
      background-color:$primary;
      border:2px solid $info;
    }
  }
  li{
    width:50%;
    text-align: center;
    position: relative;
    z-index: 2;
    &::before{
      content:counter(step);
      counter-increment: step;
      width:30px;
      height: 30px;
      border-radius: 50%; 
      background-color: lighten($primary,10%);
      display: block;
      text-align: center;
      margin: 10px auto;
      z-index: 10;
      border:2px solid lighten($primary,10%);
    }
    &::after{
      content:'';
      height: 2px;
      width:100%;
      background-color: $primary;
      opacity: 0.5;
      position: absolute;
      top: calc( 50% - 15px );
      left: -44%;
      z-index: -1;
    }
    &:first-child{
      &::after{
        content:none;
      }
    }
  }
}