/*收藏*/
.content-striped > div {
  &:nth-child(2n) {
    background-color: rgba(0, 0, 0, 0.05);
  }
}
/*優惠*/
.coupon {
  background-color: $primary;
  max-width: 100px;
  max-height: 50px;
}
.input-readonly {
  border: none;
  outline: none;
  background-color: transparent;
  max-width: 150px;
  @include media-breakpoint-up(md) {
    max-width:200px;
  }
}
