/*登入*/
.dot-group {
  position: relative;
  width: 80px;
  height: 60px;
  display: inline-block;
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .dot1 {
    position: absolute;
    top: 30px;
    left: 0;
  }
  .dot2 {
    position: absolute;
    top: 40px;
    left: 20px;
  }
  .dot3 {
    position: absolute;
    top: 30px;
    left: 40px;
  }
  .dot4 {
    position: absolute;
    top: 40px;
    left: 60px;
  }
  .dot5 {
    position: absolute;
    top: 40px;
    left: 0px;
  }
  .dot6 {
    position: absolute;
    top: 30px;
    left: 20px;
  }
  .dot7 {
    position: absolute;
    top: 40px;
    left: 40px;
  }
  .dot8 {
    position: absolute;
    top: 30px;
    left: 60px;
  }
}

.dot-loader {
  position: relative;
  width: 80px;
  height: 60px;
  display: inline-block;
  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .dot1 {
    position: absolute;
    top: 30px;
    left: 0;
    animation: scale infinite 0.5s;
  }
  .dot2 {
    position: absolute;
    top: 40px;
    left: 20px;
    animation: scale infinite 0.7s;
  }
  .dot3 {
    position: absolute;
    top: 30px;
    left: 40px;
    animation: scale infinite 0.9s;
  }
  .dot4 {
    position: absolute;
    top: 40px;
    left: 60px;
    animation: scale infinite 0.9s;
  }
  .dot5 {
    position: absolute;
    top: 40px;
    left: 0px;
    animation: scale infinite 0.7s;
  }
  .dot6 {
    position: absolute;
    top: 30px;
    left: 20px;
    animation: scale infinite 0.5s;
  }
  .dot7 {
    position: absolute;
    top: 40px;
    left: 40px;
    animation: scale infinite 0.7s;
  }
  .dot8 {
    position: absolute;
    top: 30px;
    left: 60px;
    animation: scale infinite 0.9s;
  }
}
@keyframes scale {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.3);
  }
}