.list-group-menu-sticky{
  position:sticky;
  top:50px;
}
.list-group-item {
  cursor: pointer;
  color: $third;
  &:hover {
    border-left: 6px solid $primary;
  }
  &.active {
    background-color:white;
    color:$primary;
    border:1px solid rgba(0, 0, 0, 0.125);
    border-left: 6px solid $primary;
  }
}
.card-shadow {
  border: 1px solid rgba(0, 0, 0, 0.2);
  &:hover{
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.5);
    border:none;
  }
}
.card-description {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.card-btn {
  border: 2px solid $primary;
  border-radius:0 0 0.25rem 0.25rem;
  &:hover{
     color:white;
  }
}
.product-pagination {
  .active .page-link {
    background-color: $primary;
  }
  .page-link {
    color: $secondary;
    border: 1px solid $secondary;
  }
}
.img-no-result{
  color:lighten($third,60%);
}